DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_SCHEMA_=yzi4d_backend

SERVER_HOST=localhost
SERVER_PORT=8080
SERVER_RELOAD=True

SERVICE_HOST_1C=http://host.ru

AUTH_SECRET_KEY=secret_key
AUTH_USERNAME=username
AUTH_PASSWORD=password
