<footer class="footer bg-light-blue mt-auto py-md-6 py-5">
   <div class="container">

      <div class="row">
         <div class="col-md mb-3">
            <a href="#" class="d-inline-block"><img src="{{ url_for('static', path='/img/logo-footer.svg') }}" alt=""
                  class="footer-logo"></a>
         </div>

         <div class="col-md mb-3">
            <div class="d-flex justify-content-md-end">
               <a href="#" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 15 9">
                     <path style="stroke:none;fill-rule:evenodd;fill:#fff;fill-opacity:1"
                        d="M12.906 5.723c.496.515 1.024 1 1.469 1.566.195.254.383.512.527.805.2.418.02.875-.332.898h-2.183c-.559.051-1.012-.191-1.387-.597-.3-.332-.582-.676-.875-1.016a2.222 2.222 0 0 0-.395-.371c-.296-.203-.554-.14-.726.187-.172.336-.211.707-.234 1.082-.024.543-.176.692-.692.715-1.105.059-2.156-.117-3.125-.707-.86-.523-1.523-1.258-2.105-2.094C1.715 4.566.852 2.785.074.957-.098.543.031.324.457.313a48.883 48.883 0 0 1 2.14 0c.29.007.481.183.59.472.387 1.004.86 1.965 1.45 2.848.156.234.32.469.547.637.25.183.449.125.566-.176.074-.192.11-.395.129-.598.055-.7.062-1.394-.035-2.094-.059-.433-.29-.718-.7-.8-.207-.043-.175-.125-.078-.25.176-.22.34-.356.668-.356h2.47c.39.082.472.266.526.68v2.91c-.003.16.075.637.352.742.215.074.363-.11.492-.258.59-.664 1.016-1.453 1.39-2.265.169-.364.31-.735.45-1.106.102-.273.266-.41.555-.406h2.375c.07 0 .144 0 .21.016.403.074.516.257.387.668-.199.656-.57 1.191-.945 1.742-.394.578-.82 1.144-1.215 1.73-.347.543-.324.809.125 1.274zm0 0" />
                  </svg>
               </a>

               <a href="#" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="9" height="16" viewBox="0 0 9 15">
                     <path style="stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1"
                        d="M6.14 10.875a7.462 7.462 0 0 0 2.313-.938c.516-.374.707-1.062.32-1.562-.32-.5-1.027-.625-1.543-.375-1.668 1-3.726 1-5.335 0-.512-.313-1.286-.188-1.606.375-.32.5-.191 1.25.387 1.563.707.437 1.476.75 2.312.937L.676 13.063a1.074 1.074 0 0 0 0 1.562c.191.25.511.375.836.375.32 0 .578-.125.836-.313l2.183-2.124 2.188 2.124c.449.438 1.218.438 1.672 0 .449-.437.449-1.124 0-1.562-.067-.063-2.25-2.25-2.25-2.25zM4.532 7.75C6.72 7.75 8.52 6 8.52 3.875 8.453 1.75 6.719 0 4.53 0 2.348 0 .547 1.75.547 3.875S2.28 7.75 4.53 7.75zm0-5.5c.903 0 1.672.75 1.672 1.625S5.496 5.5 4.531 5.5c-.898 0-1.672-.688-1.672-1.625 0-.875.707-1.625 1.672-1.625zm0 0" />
                  </svg>
               </a>

               <a href="#" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 15 13"
                     style="margin-right:1px; margin-top:1px;">
                     <path style="stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1"
                        d="M13.723.113s1.386-.558 1.27.805c-.04.562-.388 2.531-.653 4.66l-.926 6.313s-.078.921-.77 1.082c-.695.16-1.738-.559-1.93-.723-.152-.121-2.89-1.93-3.855-2.816-.27-.243-.578-.723.04-1.286l4.046-4.02c.465-.48.926-1.605-1.004-.237L4.547 7.707s-.617.402-1.774.04L.27 6.948s-.926-.601.652-1.207c3.855-1.89 8.598-3.816 12.8-5.629zm0 0" />
                  </svg>
               </a>

               <a href="#" target="_blank" class="social-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 15 11">
                     <path style="stroke:none;fill-rule:nonzero;fill:#fff;fill-opacity:1"
                        d="M14.41.945C13.867.273 12.871 0 10.96 0H4.04C2.085 0 1.07.293.53 1.004c-.527.7-.527 1.723-.527 3.144v2.704C.004 9.602.629 11 4.039 11h6.922c1.656 0 2.574-.242 3.164-.832.61-.61.871-1.598.871-3.316V4.148c0-1.5-.043-2.53-.586-3.203zM9.63 5.875l-3.145 1.71a.463.463 0 0 1-.476-.015.503.503 0 0 1-.23-.43V3.724c0-.176.085-.34.23-.43a.473.473 0 0 1 .476-.016L9.63 4.98c.16.086.258.258.258.446 0 .187-.098.36-.258.449zm0 0" />
                  </svg>
               </a>
            </div>
         </div>
      </div>

      <div class="row gx-lg-5">
         <div class="col-lg-auto">

            <div class="d-sm-flex flex-lg-column mb-3 mb-lg-0">
               <div class="mb-3 mb-sm-0 mb-lg-3">
                  <a href="tel:+79283012171" title=""
                     class="text-decoration-none link-secondary f-2 fw-extrabold fs-5">+7
                     (928)
                     301-21-71</a>
                  <div class="text-dark fs-8"><span class="text-white bg-danger px-1">без выходных</span> с 7:00 до
                     20:00
                  </div>
               </div>

               <div class="d-flex align-items-center ms-auto">
                  <a href="" class="btn btn-danger btn-sm me-3">Записаться</a>

                  <a href="" class="btn btn-outline-secondary btn-sm d-flex align-items-center">

                     <?xml version="1.0" encoding="UTF-8"?>
                     <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 14" height="14px"
                        class="me-2">
                        <path
                           d="M5.5,7c2.02,0,3.67-1.57,3.67-3.5S7.52,0,5.5,0,1.83,1.57,1.83,3.5c0,1.93,1.64,3.5,3.67,3.5Zm0-5.83c1.35,0,2.44,1.04,2.44,2.33s-1.1,2.33-2.44,2.33-2.44-1.04-2.44-2.33,1.1-2.33,2.44-2.33Zm0,7c-3.04,0-5.5,2.35-5.5,5.25,0,.32,.27,.58,.61,.58s.61-.26,.61-.58c0-2.26,1.92-4.08,4.28-4.08s4.28,1.83,4.28,4.08c0,.32,.28,.58,.61,.58s.61-.26,.61-.58c0-2.9-2.46-5.25-5.5-5.25Z" />
                     </svg>

                     Войти
                  </a>
               </div>
            </div>

         </div>

         <div class="col-md text-lg-center">
            <ul class="list-unstyled list-inline mb-2 mb-md-0 mx-n2">
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="{{ url_for('get_specialists') }}"
                     class="link-secondary text-decoration-none">Специалисты</a>
               </li>
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="services-startpoint.html"
                     class="link-secondary text-decoration-none">Услуги</a></li>
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="analyses-startpoint.html"
                     class="link-secondary text-decoration-none">Анализы</a>
               </li>
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="content.html"
                     class="link-secondary text-decoration-none">Пациентам</a>
               </li>
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="content.html"
                     class="link-secondary text-decoration-none">О
                     нас</a>
               </li>
               <li class="list-inline-item fs-8 mb-2 mx-2"><a href="{{ url_for('get_contacts') }}"
                     class="link-secondary text-decoration-none">Контакты</a>
               </li>
            </ul>
         </div>

         <div class="col-md-auto text-md-end pt-lg-0">
            <ul class="list-unstyled mb-0">
               <li class="mb-1"><a href="#" class="fs-8 link-secondary">Лицензия №ЛО41-01126-23/00343065</a></li>
               <li class="fs-8 text-secondary mb-1">Имеются противопоказания. <br>
                  Необходима консультация специалиста</li>
               <li class="fs-8 text-secondary mb-1">© 2022&nbsp; 4Д Поликлиника</li>
            </ul>
         </div>
      </div>
   </div>
</footer>