<div class="d-none d-lg-block bg-light-blue">
   <div class="container">
      <div class="d-flex mx-n3">
         <div class="dropdown">
            <a class="dropdown-toggle text-decoration-none link-secondary fs-7 d-flex align-items-center px-3 py-2"
               href="{{ url_for('get_contacts')}}" role="button" aria-expanded="false">

               <?xml version="1.0" encoding="UTF-8"?>
               <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 11" height="12px" class="me-2"
                  style="margin-bottom: 2px;">
                  <path
                     d="M5,2.75c-1.1,0-1.99,.82-1.99,1.83s.89,1.83,1.99,1.83,1.99-.82,1.99-1.83-.89-1.83-1.99-1.83Zm0,2.75c-.55,0-1-.41-1-.92s.45-.92,1-.92,1,.41,1,.92-.44,.92-1,.92Z" />
                  <path
                     d="M5,11c-.85,0-1.65-.37-2.14-1.01C.96,7.58,0,5.77,0,4.61,0,2.06,2.24,0,5,0s5,2.06,5,4.61c0,1.16-.96,2.98-2.86,5.38-.5,.64-1.29,1.01-2.14,1.01ZM5,1c-2.16,0-3.91,1.62-3.92,3.61,0,.92,.94,2.62,2.65,4.8,.51,.65,1.48,.78,2.18,.32,.13-.09,.25-.2,.35-.32,1.71-2.17,2.65-3.88,2.65-4.8,0-1.99-1.76-3.61-3.92-3.61Z" />
               </svg>

               Адреса клиник

               <?xml version="1.0" encoding="UTF-8"?>
               <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.99 4" height="5px" class="ms-2">
                  <path
                     d="M3,2.8L5.21,.16c.15-.18,.41-.21,.6-.06,.01,0,.02,.02,.03,.03,.18,.18,.2,.48,.03,.68L3.32,3.85c-.14,.18-.41,.21-.59,.07-.02-.02-.05-.04-.07-.07L.12,.81C-.05,.61-.04,.31,.15,.13c.18-.18,.46-.16,.63,.03L3,2.8Z" />
               </svg>
            </a>

            <ul class="dropdown-menu fade-down border-0 shadow-lg">
               <li><a class="dropdown-item fs-8" href="branch.html">г. Пятигорск, ул. Кузнечная, 26</a></li>
               <li><a class="dropdown-item fs-8" href="branch.html">г. Пятигорск, пр. Калинина, 107</a></li>
               <li><a class="dropdown-item fs-8" href="branch.html">г. Ессентуки, ул. Володарского, 25/2</a></li>
               <li><a class="dropdown-item fs-8" href="branch.html">г. Минеральные Воды, пр. XXII Партсъезда, 32А</a>
               </li>
            </ul>
         </div>

         <a href="" title="" class="btn btn-secondary d-flex align-items-center btn-sm rounded-0 ms-auto me-3">

            <?xml version="1.0" encoding="UTF-8"?>
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 11.98" height="14px" class="me-2">
               <path
                  d="M14.54,4.34c-.97-1.62-3.17-4.34-7.04-4.34S1.43,2.72,.46,4.34C-.15,5.35-.15,6.63,.46,7.65c.97,1.62,3.18,4.34,7.04,4.34s6.07-2.72,7.04-4.34c.61-1.02,.61-2.29,0-3.31Zm-1.06,2.64c-.83,1.39-2.72,3.73-5.98,3.73S2.36,8.37,1.53,6.98c-.36-.61-.36-1.36,0-1.97,.83-1.39,2.72-3.73,5.98-3.73s5.15,2.34,5.98,3.73c.36,.61,.36,1.36,0,1.97Z" />
               <path
                  d="M7.5,2.78c-1.73,0-3.12,1.44-3.12,3.21s1.4,3.21,3.12,3.21,3.12-1.44,3.12-3.21c0-1.77-1.4-3.2-3.12-3.21Zm0,5.13c-1.03,0-1.88-.86-1.88-1.93s.84-1.92,1.88-1.92,1.88,.86,1.88,1.92-.84,1.93-1.88,1.93Z" />
            </svg>

            Версия
            для
            слабовидящих
         </a>

      </div>
   </div>
</div>

<div class="bg-white shadow-sm">
   <div class="container d-none d-lg-block">
      <div class="d-flex align-items-bottom py-3">
         <a href="{{ url_for('get_index') }}" title="" class="me-5"><img src="{{ url_for('static', path='/img/logo.svg') }}" alt=""
               height="54"></a>

         <div>
            <a href="tel:+79283012171" title="" class="text-decoration-none link-secondary f-2 fw-extrabold fs-4">+7
               (928)
               301-21-71</a>
            <div class="text-dark fs-8"><span class="text-white bg-danger px-1">без выходных</span> с 7:00 до 20:00
            </div>
         </div>

         <div class="d-flex align-items-center ms-auto">
            <a href="#" class="btn btn-danger me-3">Записаться</a>

            <a href="#" class="btn btn-outline-secondary d-flex align-items-center">

               <?xml version="1.0" encoding="UTF-8"?>
               <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 14" height="14px" class="me-2">
                  <path
                     d="M5.5,7c2.02,0,3.67-1.57,3.67-3.5S7.52,0,5.5,0,1.83,1.57,1.83,3.5c0,1.93,1.64,3.5,3.67,3.5Zm0-5.83c1.35,0,2.44,1.04,2.44,2.33s-1.1,2.33-2.44,2.33-2.44-1.04-2.44-2.33,1.1-2.33,2.44-2.33Zm0,7c-3.04,0-5.5,2.35-5.5,5.25,0,.32,.27,.58,.61,.58s.61-.26,.61-.58c0-2.26,1.92-4.08,4.28-4.08s4.28,1.83,4.28,4.08c0,.32,.28,.58,.61,.58s.61-.26,.61-.58c0-2.9-2.46-5.25-5.5-5.25Z" />
               </svg>

               Войти
            </a>
         </div>
      </div>
      <hr class="d-none d-lg-block">
   </div>

   <nav class="navbar navbar-expand-lg">
      <div class="container py-2 py-lg-0">

         <div class="d-lg-none d-flex align-items-center">
            <a href="{{ url_for('get_index') }}" title="" class="me-3"><img src="{{ url_for('static', path='/img/logo.svg') }}" alt=""
                  height="36"></a>

            <div>
               <a href="tel:+79283012171" title="" class="text-decoration-none link-secondary f-2 fw-extrabold fs-6">+7
                  (928) 301-21-71</a>
               <div class="text-dark fs-9"><span class="text-white bg-danger px-1">без выходных</span> с 7:00 до 20:00
               </div>
            </div>
         </div>

         <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#Offcanvas"
            aria-expanded="false" aria-label="Меню">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse position-relative">
            <ul class="navbar-nav ms-n3 me-auto">
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('get_specialists') }}">Специалисты</a>
               </li>

               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button"
                     aria-expanded="false">

                     Услуги

                     <?xml version="1.0" encoding="UTF-8"?>
                     <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.99 4" height="5px"
                        class="ms-1">
                        <path
                           d="M3,2.8L5.21,.16c.15-.18,.41-.21,.6-.06,.01,0,.02,.02,.03,.03,.18,.18,.2,.48,.03,.68L3.32,3.85c-.14,.18-.41,.21-.59,.07-.02-.02-.05-.04-.07-.07L.12,.81C-.05,.61-.04,.31,.15,.13c.18-.18,.46-.16,.63,.03L3,2.8Z" />
                     </svg>

                  </a>
                  <ul class="dropdown-menu fade-down border-0 shadow-lg">
                     <li><a class="dropdown-item" href="services-category.html">УЗИ</a></li>
                     <li><a class="dropdown-item" href="services-category.html">МРТ</a></li>
                     <li><a class="dropdown-item" href="services-category.html">Хирургия</a></li>
                     <li><a class="dropdown-item" href="services-category.html">Рентгенология</a></li>
                     <li><a class="dropdown-item" href="services-category.html">Компьютерная томография</a></li>
                  </ul>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('get_analyzes') }}">Анализы</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('get_promotions') }}">Спецпредложения</a>
               </li>

               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{{ url_for('get_page', slug='12345') }}" role="button" aria-expanded="false">

                     Отделения и центры

                     <?xml version="1.0" encoding="UTF-8"?>
                     <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.99 4" height="5px"
                        class="ms-1">
                        <path
                           d="M3,2.8L5.21,.16c.15-.18,.41-.21,.6-.06,.01,0,.02,.02,.03,.03,.18,.18,.2,.48,.03,.68L3.32,3.85c-.14,.18-.41,.21-.59,.07-.02-.02-.05-.04-.07-.07L.12,.81C-.05,.61-.04,.31,.15,.13c.18-.18,.46-.16,.63,.03L3,2.8Z" />
                     </svg>

                  </a>
                  <ul class="dropdown-menu fade-down border-0 shadow-lg">
                     <li><a class="dropdown-item" href="department.html">Центр кардионефрологии</a></li>
                  </ul>
               </li>

               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('get_contacts')}}">Контакты</a>
               </li>
            </ul>

            <div class="search">
               <div class="search__wrapper">
                  <div class="search__form-container">
                     <form class="search-form">
                        <input type="text" class="form-control search-form__input" placeholder="Найти...">
                        <button type="submit" class="btn btn-primary search-form__btn">Найти</button>
                     </form>
                  </div>

                  <div class="search__toggle-container">
                     <a href="{{ url_for('get_analysis', id='1') }}" class="search__toggle">
                        <?xml version="1.0" encoding="UTF-8"?><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 512 512" height="18px" class="search__close">
                           <path
                              d="M301.25,256L502.62,54.64c12.5-12.5,12.5-32.77,0-45.27-12.5-12.5-32.77-12.5-45.27,0h0L256,210.75,54.64,9.38C42.14-3.13,21.87-3.13,9.38,9.38s-12.5,32.77,0,45.27L210.75,256,9.38,457.36c-12.5,12.5-12.5,32.77,0,45.27s32.77,12.5,45.27,0l201.36-201.38,201.36,201.38c12.5,12.5,32.77,12.5,45.27,0,12.5-12.5,12.5-32.77,0-45.27l-201.38-201.36Z" />
                        </svg>


                        <?xml version="1.0" encoding="UTF-8"?><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 511.96 512" height="18px" class="search__open">
                           <path
                              d="M502.61,457.5l-99.1-99.14c74.15-99.09,53.93-239.53-45.16-313.67S118.83-9.25,44.69,89.84C-29.46,188.93-9.25,329.37,89.84,403.52c79.6,59.56,188.92,59.56,268.52,0l99.14,99.14c12.46,12.46,32.66,12.46,45.11,0,12.46-12.46,12.46-32.66,0-45.11v-.04Zm-277.69-73.12c-88.07,0-159.46-71.39-159.46-159.46S136.86,65.47,224.93,65.47s159.46,71.39,159.46,159.46c-.09,88.03-71.43,159.36-159.46,159.46Z" />
                        </svg>
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </nav>
</div>