{% extends "base.html" %}

{% block title %}
<title>Лицензии</title>
{% endblock %}

{% block content %}

{% include "includes/maps.html" %}

   <main role="main" class="flex-shrink-0">
      <div class="container pt-md-5 pt-4">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('get_index') }}">Главная</a></li>
            <li class="breadcrumb-item active">Какая-то информационная страница, которая целиком наполняется из админки
            </li>
         </ol>

         <h1 class="mb-md-5 mb-4">Какая-то информационная страница, которая целиком наполняется из админки</h1>

         <div class="article">
            <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели
               превратился в страшное насекомое.</p>

            <div class="fit-to-text mb-4">
               <a href="https://source.unsplash.com/PT70CT6mATQ/1920x1080" data-caption="Описание изображения"
                  data-fancybox>
                  <picture><source srcset="https://source.unsplash.com/PT70CT6mATQ/1110x624" type="image/webp"><img src="https://source.unsplash.com/PT70CT6mATQ/1110x624" class="w-100" /></picture>
               </a>

               <small class="text-muted fs-8 d-block pt-1">
                  Источник: <a href="https://unsplash.com" target="_blank">unsplash.com</a>
               </small>
            </div>

            <p>«Что со мной случилось? » – подумал он. Это не было сном. Его комната, настоящая, разве что слишком
               маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.</p>

            <h2>Подзаголовок поменьше</h2>

            <p>Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел
               портрет,
               который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку. На
               портрете
               была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую
               меховую
               муфту, в которой целиком исчезала ее рука.</p>

            <ul>
               <li>Элемент списка</li>
               <li>Элемент списка с вложенностью
                  <ul>
                     <li>Элемент списка</li>
                  </ul>
               </li>
               <li>Элемент списка</li>
            </ul>

            <p>Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника
               стучат
               капли дождя – привела его и вовсе в грустное настроение.</p>

            <ol>
               <li>Элемент списка</li>
            </ol>

            <div class="mb-4">
               <a href="https://source.unsplash.com/e7MJLM5VGjY/1920x1080" data-caption="Описание изображения"
                  data-fancybox>
                  <picture><source srcset="https://source.unsplash.com/e7MJLM5VGjY/1110x624" type="image/webp"><img src="https://source.unsplash.com/e7MJLM5VGjY/1110x624" class="w-100" /></picture>
               </a>

               <small class="text-muted fs-8 d-block pt-1">
                  Источник: <a href="https://unsplash.com" target="_blank">unsplash.com</a>
               </small>
            </div>

            <p>«Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно
               неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог
               принять
               этого положения. С какой бы силой ни поворачивался он на правый бок, он неизменно сваливался опять
               на
               спину.</p>

            <h3>Маленький подзаголовок страницы</h3>

            <p>Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался
               от
               этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в
               боку. «Ах
               ты, господи, – подумал он, – какую я выбрал хлопотную профессию! Изо дня в день в разъездах.</p>

            <div class="table-responsive">
               <table class="table table-bordered table-hover">
                  <caption class="fs-8 pt-1">Таблица 2.1</caption>
                  <thead class="thead-dark">
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Должность</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>Андрей</td>
                        <td>Петров</td>
                        <td>Менеджер</td>
                     </tr>
                  </tbody>
               </table>
            </div>

            <p>Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы
               дороги,
               думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай со все новыми и
               новыми
               людьми недолгие, никогда не бывающие сердечными отношения. Черт бы побрал все это!»</p>

            <h4>Очень мальнький подзаголовок</h4>

            <p>Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы
               удобнее
               было поднять голову; нашел зудевшее место, сплошь покрытое, как оказалось, белыми непонятными
               точечками;
               хотел было ощупать это место одной из ножек, но сразу отдернул ее, ибо даже простое прикосновение
               вызвало
               у него, Грегора, озноб. Он соскользнул в прежнее свое положение.</p>

            <h5>Крохотный подзаголовок</h5>

            <p>Однако надежда еще не совсем потеряна: как только я накоплю денег, чтобы выплатить долг моих
               родителей –
               на это уйдет еще лет пять-шесть, – я так и поступлю. Тут-то мы и распрощаемся раз и навсегда. А
               пока что
               надо подниматься, мой поезд отходит в пять». И он взглянул на будильник, который тикал на сундуке.
               «Боже
               правый!» – подумал он.</p>

         </div>
      </div>

   </main>
{% endblock %}